/* Sets the universal text to the text family below */
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 /* Declared Colors */
:root {
    --purpleTheme: rgb(116, 46, 182);
    --purpleButtons: rgb(182, 157, 204);
    --purpleList: #d7bbdb;
}
/* Header elements listed below */
header {
    background-color: var(--purpleTheme);
}

nav{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

#timer {
    padding-right: 35px ;
}

#main-buttons > * {
    margin-left: 15px;
    background-color: var(--purpleButtons);;
}

#logo-header{
    margin-right: 40px;
}
/* All heading tags are adjusted below */
h1{
    font-size: 35px;
    align-items: center;
}

h2{
    font-size: 30px;
    align-items: center;
}

h3 {
    padding: 20px;
}

p{ /* Used for the styling of texts for question prompts and smaller messages */
    font-size: 18px;
    align-items: center;
    line-height: 30px;
}

/* Container for the start screen. Features listed below as well */
.container-start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;
    height: 80vh;
    text-align: center;
    margin-bottom: 90px;
}

.btn-start{
    padding: 20px 40px;
    order: 2;
    cursor: pointer;
    background-color: var(--purpleButtons);
    font-size: 20px;
}

/* Container for the quiz. Features are also listed below */
.container-quiz{
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 90px;

}

.container-quiz > * {
    margin-bottom: 10px;
}

.container-quiz button {
    margin: 5px 40px ;
    padding: 10px 5px ;
    cursor: pointer;
    background-color: var(--purpleButtons);
}

/* Container for the high score display. Features are also listed below */
.container-high-score{
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0px 30px;
    margin-top: 170px;
    height: 80vh;
    text-align: center;
}

.container-high-score > * {
    margin: 10px;
}

.anchor{  /* This allows for the prompts above the high score list to be removed at our choice */
    display: block;
    width: 100%;
}

.anchor > *{ 
    margin-bottom: 20px;
}

.high-score-enter{
    background-color: var(--purpleButtons);
    padding: 0px 5px;
}

/* The style attributes below style the table that the high scores are stored in */
table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 70%;
    order: 5;
}

table thead,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: var(--purpleList);
}


/* Styles the footer border for the page */
footer {
    display: block;
    width: 100%;
    background-color: var(--purpleTheme);
    padding: 30px;
}

/* Lessens the margins for mobile users */
@media screen and (max-width: 768px) {
    .container-quiz{
        margin: 5px;
    }
    h1 {
        font-size: 25px;
    }
} 
