* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --purpleTheme: rgb(116, 46, 182);
    --purpleButtons: rgb(182, 157, 204);
}

header {
    background-color: var(--purpleTheme);
}

nav{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

#timer {
    padding-right: 35px ;
}

#main-buttons > * {
    margin-left: 15px;
    background-color: var(--purpleButtons);;
}

#logo-header{
    margin-right: 40px;
}

h1{
    font-size: 35px;
    align-items: center;
}

h2{
    font-size: 30px;
    align-items: center;
}

h3 {
    padding: 20px;
}

p{
    font-size: 18px;
    align-items: center;
}

.container-quiz{
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    margin-left: 200px;
    margin-right: 200px;

}

.container-quiz > * {
    margin-bottom: 10px;
}

.container-quiz button {
    margin: 5px 40px ;
    padding: 10px 5px ;
    cursor: pointer;
    background-color: var(--purpleButtons);
}

.container-start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;
    height: 80vh;
    text-align: center;
}

.container-high-score{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;
    height: 80vh;
    text-align: center;
}

.container-high-score > * {
    margin: 10px;
}

.btn-start{
    padding: 20px 40px;
    order: 2;
    cursor: pointer;
    background-color: var(--purpleButtons);
    font-size: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    background-color: white;
  }
  
li {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 1px;
    padding: 5px;
    background-color:  #ca92d1;
    color: white;
    font-size: 1.5em;
    line-height: 1.5;
    border: 10px black;
  }

li:nth-child(even){
    flex-basis: 50%;
    flex: 1;
}
li:nth-child(odd){
    flex-basis: 50%;
    flex: 1;
}

.hide {
    display: none;
}

@media screen and (max-width: 768px) {
    .container-quiz{
        margin: 5px;
    }
} 
