* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --purpleTheme: rgb(116, 46, 182);
    --purpleButtons: rgb(182, 157, 204);
}
header {
    background-color: var(--purpleTheme);
}

nav{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

#timer {
    padding-right: 35px ;
}

#main-buttons > * {
    margin-left: 15px;
    background-color: var(--purpleButtons);
}

#logo-header{
    margin-right: 40px;
}

h1{
    font-size: 30px;
    align-items: center;
}

p{
    font-size: 18px;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.btn-start{
    display: flex;
    justify-content: center;
    order: 2;
}

.container > * {
    padding: 10px;
}

